# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Caches and databases
.cache/
cache_index.db
*.parquet

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE files
.vscode/
.idea/

# Configuration files
config.json
remote_test_j_config.json
config_test.json

# Jupyter Notebooks
*.ipynb
test_*.ipynb
.ipynb_checkpoints/

# Python packaging & builds
build/
dist/
*.egg-info/

# Local test directories
test_norgate_cache/

